@model  List<PYS.Web.Models.User.UserDto>
            <h3>Kullanıcı Listesi(@Model.Count)</h3>
<table border="1" cellpadding="5">
    <tr>
        <th>Adı</th>
        <th>Soyadı</th>
        <th>Yaşı</th>
        <th>Açıklama</th>

    </tr>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Surname</td>
                <td>@user.Age</td>
                <td>@user.Description</td>
            </tr>
        }
    </tbody>
    

</table>
